{% extends 'base.html' %}

{% block header %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Bienvenidos a la tienda</h1>
          {% if user.is_authenticated %}
          <p class="lead fw-normal text-white-50 mb-0">¡Hola {{user.username}}!</p>
          {% else %}
          <p class="lead fw-normal text-white-50 mb-0">Inicie sesión o registrese para comprar</p>
          {% endif %}
      </div>
  </div>
</header>
{% endblock %}


{% block content %}
{% endblock %}