{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card p-4 shadow rounded text-center" style="width: 100%; max-width: 500px;">
        
        <!-- Mostrar avatar o imagen predeterminada -->
        {% if user.cliente.avatar %}
            <img src="{{ user.cliente.avatar.url }}" alt="Avatar" class="rounded-circle mx-auto mb-3" style="width: 120px; height: 120px; object-fit: cover;">
        {% else %}
            <!-- Accediendo directamente a la imagen en media -->
            <img src="{% static 'assets/default_avatar.png' %}" alt="default-Avatar" class="rounded-circle mx-auto mb-3" style="width: 120px; height: 120px; object-fit: cover;">
        {% endif %}

        <h2 class="mb-4">Perfil de {{ user.username }}</h2>
        
        <!-- Formulario para actualizar datos -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-purple" style="background-color: #9C27B0; color: white;">Actualizar Perfil</button>
            </div>
        </form>
        
        <div class="d-grid mt-3">
            <a href="{% url 'home' %}" class="btn btn-danger">Volver al Inicio</a>
        </div>

    </div>
</div>
{% endblock %}
